{% load static %}

<!DOCTYPE html>
<html lang="pl-pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Psychotherapist - Logowanie</title>


    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

</head>
<body class="login">
<div id="container">
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/">Logowanie</a></h1>
        </div>
    </div>

    <div id="content">
        <div id="content-main">
            {% if state == "user_invalid" %}
            <div class="alert alert-danger" role="alert">
                <p class="errornote">Nazwa użytkownika i/lub hasło niepoprawne.</p>
            </div>
            {% endif %}
            <form method="post" id="login-form">
                {% csrf_token %}
                <div class="form-row">
                    <label class="required" for="id_username">Nazwa użytkownika:</label> <input type="text" name="username" autofocus id="id_username" maxlength="254" required />
                </div>
                <div class="form-row">
                    <label class="required" for="id_password">Hasło:</label> <input type="password" name="password" autofocus id="id_password" required />
                </div>
                <div class="submit-row">
                    <label></label><input type="submit" value="Zaloguj" />
                </div>
                <br>
                <div class="form-row">
                    <p class="help">Nie masz konta? Przejdź do <a href="/register/">rejestracji.</a></p>
                </div>
            </form>
        </div>
        <br class="clear" />
    </div>
    <div id="footer"></div>
</div>
</body>
</html>